.cbr-honda{
    background-color: #264653;
    width: 100%;
    
    overflow-x: hidden;

}
.cbr-descript{
    color: #E0E0E0
}
.btn-purchase{
    background-color: #E76F51;
    color: white;
}
.featcher-bike{
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    color: black;
}
.collection{
    color: red;
    text-align: center;
}
.gray-images{
    filter: grayscale(100%);
}
.khushi{
    color: #0A0826;
    font-size: 3rem;
    text-align: center;
}
.customer{
    color: #E76F51;
    font-size: 3rem;
    text-align: center;
}
#rating{
    color: #E76F51;
    width: 20px;
}
#ratings{
    color: #E76F51;
    width: 50px;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  